:root {
  --background: rgb(0, 0, 0);       
  --foreground: rgba(217, 222, 230, 1);   /* hsl(220, 15%, 85%) */
  --primary: rgba(51, 153, 255, 1);       /* hsl(210, 100%, 60%) */
  --muted: rgba(142, 153, 168, 1);        /* hsl(220, 10%, 60%) */
}


body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
